body{margin : 0px; width: 100%;}
header{width: 100%;height: 100px; background-color: whitesmoke;margin-bottom:0px;position: fixed;}
.marginssage{float: right; display: inline;}
.b1{width: 150px; height: 100px; background-color: rgba(0, 0, 0, 0);border-radius: 15px;; border: none; transition: background-color 0.5s; outline: none;}
.b1:hover{background-color: rgba(82%, 82%, 82%, 100%);}


